* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width: 400px;
  margin: 50px auto;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
