body, html {
    overflow: hidden;
    height: 100%;
}
.custom-font-size {            
    font-size: 0.875rem;
}

.custom-card {
    border-radius: 20px;
}

.background-image {
    background-image: url('../images/rocket.svg'),url('../images/background.jpg');
    background-size:550px 550px,cover;
    background-position: calc(50% - 40%) calc(0% + 90px),center top;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-button {
    background-color: #d3d3d3;
    color: #000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border: none;
}

.custom-button:hover {
    background-color: #c0c0c0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1200px) {
    .background-image {
        background-size: 520px 520px, cover;
        background-position: calc(50% - 40%) calc(0% + 70px), center top;
    }
    .responsive-title {
        font-size: 1.6rem;
    }
    .responsive-subtitle {
        font-size: 1.2rem;
    }
}

@media (min-width: 991px) and (max-width:1200px) {
    .background-image {
        background-size: 440px 440px, cover;
        background-position: calc(50% - 30%) calc(0% + 50px), center top;
    } 
}

@media (min-width: 768px) and (max-width:991px){
    .background-image {
        background-size: 380px 380px, cover;
        background-position: calc(50% - 35%) calc(0% + 50px), center top;
    }
    .responsive-title {
        font-size: 1.2rem;
    }
    .responsive-subtitle {
        font-size: 0.875rem;
    }
    .custom-card {
        flex: 0 0 200%;
        max-width: 200%;
    }
}

@media (min-width: 575px) and (max-width:767px){
    .background-image {
        background-size: 320px 320px, cover;
        background-position: calc(50% - 45%) calc(0% + 10%), center top;
    }
    .responsive-title {
        font-size: 1rem;
    }
    .responsive-subtitle {
        font-size: 0.7rem;
    }
    .custom-card {
        flex: 0 0 200%;
        max-width: 200%;
    } 
}

@media (min-width: 519px) and (max-width: 575px){
    .background-image {
        background-size: 300px 300px, cover;
        background-position: calc(50% - 50%) calc(0% + 10%), center top;
    }
}

@media (min-width: 371px) and (max-width: 519px){
    .background-image {
        background-size: 280px 280px, cover;
        background-position: calc(50% - 80%) calc(0% + 10%), center top;
    }
    .custom-card {
        flex: 0 0 200%;
        max-width: 200%;
    } 
}

@media (min-width: 301px) and (max-width:370px){
    .background-image {
        background-size: 280px 280px, cover;
        background-position: calc(50% - 200%) calc(0% + 10%), center top;
    }
    .custom-card {
        margin-top: -2rem;
        flex: 0 0 150%;
        max-width: 150%;
    } 
}

@media (max-width: 300px){
    .background-image {
        background-size: 280px 280px, cover;
        background-position: calc(50% - 400%) calc(0% + 10%), center top;
    }
}