.profile-circle {
    position: relative;
    width: 9rem;
    height: 9rem;
    border: 4px solid rgb(10, 30, 10);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: width 0.3s, height 0.3s, border-width 0.3s;
}
.profile-circle a {
    color: green;
    font-size: 1.5rem;
    transition: font-size 0.3s;
}
.profile-circle a:nth-child(2) {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    transition: font-size 0.3s, margin-top 0.3s;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .profile-circle {
        width: 7rem;
        height: 7rem;
    }
    .profile-circle a {
        font-size: 1.2rem;
    }
    .profile-circle a:nth-child(2) {
        font-size: 0.8rem;
        margin-top: 0.3rem;
    }
}

@media (max-width: 500px) {
    .profile-circle {
        width: 6rem;
        height: 6rem;
    }
    .profile-circle a {
        font-size: 1rem;
    }
    .profile-circle a:nth-child(2) {
        font-size: 0.6rem;
        margin-top: 0.2rem;
    }
}